@font-face {
    font-family: "u8";
    src: url("./assets/U8-Regular.ttf") format("woff2");
    font-weight: 400;
    font-style: normal
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "u8", sans-serif;
    background: url("https://res.cloudinary.com/dvhndpbun/image/upload/v1586036281/bg-top-left_sghwb0.png"),
        url("https://res.cloudinary.com/dvhndpbun/image/upload/v1586036281/bg-top-right_qjioso.png"),
        url("https://res.cloudinary.com/dvhndpbun/image/upload/v1586036281/bg-bottom-left_hgshpd.png"),
        url("https://res.cloudinary.com/dvhndpbun/image/upload/v1586036281/bg-bottom-right_epi0sf.png");
    background-attachment: fixed;
    background-color: #032665;
    background-size: 15%, 15%, 15%, 15%;
    background-position: left -1% top -15%, right -7.5% top -1%, left -5% bottom -10%, right -5% bottom -5%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;

    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo_cont {
    padding-top: 3rem;
    text-align: center;
    margin-bottom: 45px;
}

.main_cont {
    background: #fff;
    border-bottom-right-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    max-width: 448px;
    margin: auto;
    padding-top: 40px;
}

header {
    text-align: center;
    margin-bottom: 32px;
    display: block;
}

.header-text_lg {
    color: #083e9e;
    text-align: center;
    margin: 0;
    padding-bottom: 4px;
}

.header-text_sm {
    color: #4a5568;
    font-family: 'Karla', sans-serif;
    font-size: .88rem;
    margin: 0;
}

.label_text {
    font-size: .75rem;
    color: #4a5568;
    margin-bottom: 4px;
    line-height: 2;
    font-weight: 700;
    display: block;
}

.form_input {
    background-color: #edf2f7;
    border: 0 solid #e2e8f0;
    border-radius: 4px;
    color: #1a202c;
    font-size: 15px;
    padding: 19px;
    margin-bottom: 32px;
    overflow: visible;
    outline: 0;
    width: 370px;
}

input::placeholder {
    color: #a0aec0;
}

input::-moz-placeholder {
    color: #a0aec0;
}

.form_select {
    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' height='12' width='12' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.6 6.8'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23b7b3b3;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eicccon2%3C/title%3E%3Cpath class='cls-1' d='M7,7.55a1.06,1.06,0,0,1,1.57,0L12.5,11.3l3.91-3.75a1.06,1.06,0,0,1,1.57,0,1.18,1.18,0,0,1,0,1.61c-.4.42-4.69,4.5-4.69,4.5a1.08,1.08,0,0,1-.79.34,1.09,1.09,0,0,1-.79-.34S7.42,9.58,7,9.16A1.18,1.18,0,0,1,7,7.55Z' transform='translate(-6.7 -7.2)'/%3E%3C/svg%3E");
    background-repeat: no-repeat, repeat;
    background-position: right 1.3em top 50%, 0 0;
    background-size: auto, 100%;
    font-family: 'Segoe UI', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form_select:hover {
    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' height='12' width='12' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.6 6.8'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%237d7c7c;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eicccon2%3C/title%3E%3Cpath class='cls-1' d='M7,7.55a1.06,1.06,0,0,1,1.57,0L12.5,11.3l3.91-3.75a1.06,1.06,0,0,1,1.57,0,1.18,1.18,0,0,1,0,1.61c-.4.42-4.69,4.5-4.69,4.5a1.08,1.08,0,0,1-.79.34,1.09,1.09,0,0,1-.79-.34S7.42,9.58,7,9.16A1.18,1.18,0,0,1,7,7.55Z' transform='translate(-6.7 -7.2)'/%3E%3C/svg%3E");
}

.signup-form {
    max-width: 370px;
    margin: auto;
}

i {
    position: absolute;
    right: 40px;
    color: #b7b3b3;
    margin-top: 12px;
    font-style: normal;
    font-size: 23px;
    -webkit-text-stroke: 1.8px #eef4f5fa;
}

.input_select {
    position: relative;
}

.submit-btn {
    text-transform: uppercase;
    background: #083e9e;
    border: 0 solid #e2e8f0;
    border-bottom-right-radius: .75rem;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    font-family: "u8";
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 50px;
    outline: 0;
    padding: 20px 40px 16px 40px;
    width: 100%;
    color: #fff;
    line-height: 21px;
}

.submit-btn:hover {
    background: #062b6f;
}

footer {
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 35px auto 50px;
}

footer a:hover {
    color: #b3b3b3;
}

@media (max-width: 500px) {

    .header-text_lg {
        font-size: 20px;
    }

    .main_cont {
        max-width: 92%;
        padding-top: 35px;
    }

    header {
        margin: 0 auto 38px auto;
    }

    .signup-form,
    header {
        max-width: 83%;
    }

    .form_input {
        max-width: 100%;
        padding: 16px 14px 14px;
    }

    i {
        margin-top: 7px;
    }

    .submit-btn {
        margin-bottom: 40px;
    }

    footer {
        font-size: 12px;
    }
}

@media (max-width: 420px) {

    i {
        margin-top: 9px;
        -webkit-text-stroke: 2.1px #eef4f5fa;
    }
}